*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

#headerDiv{
    height: 100px;
    background: rgba(75, 148, 32, 0.712);
    position: relative;
    text-align: center;
}

header{
    padding: 30px;
    text-align: center;
}

#cityName{
    width: 200px;
    height: 35px;
    border-radius: 4px;
    padding-left: 4px;
    border: none;
    font-size: large;
    margin: 0 20px;
}

button {
    background-color: #8a7a35; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border-radius: 4px;
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


#currentWeather{
    height: 370px;
    background: rgb(224, 231, 229);
    padding: 20px;
    padding-top: 50px;
    text-align: center;

}

#weatherLoc{
    font-size: 30px;
}

#weatherTemp{
    font-size: 45px;
}
#weatherHighLow{
    display: inline-flex;
}
#weatherHigh{
    margin-right: 15px;
}

#hourlyWeather{
    background: rgb(196, 175, 175);
    height: 260px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#hourlyWeatherForcast{
    width: 100%;
    text-align: center;
    display: inline-flex;
}

#hourTitle{
    margin: 10px;
    margin-left: 30px;
    font-size: larger;
    margin-bottom: 20px;
    color: rgb(54, 109, 91);
}






